{{- /* Hard-coded JetBrains Mono version. Allow override via env. */ -}}
{{- $ver := env "JB_MONO_VERSION" | default "v2.304" -}}
{{- $vernum := trimPrefix $ver "v" -}}

# macOS
{{- if eq .chezmoi.os "darwin" }}
["~/Library/Fonts/JetBrainsMono"]
type = "archive"
url = "https://github.com/JetBrains/JetBrainsMono/releases/download/{{ $ver }}/JetBrainsMono-{{ $vernum }}.zip"
stripComponents = 1
exact = true
include = ["fonts/ttf/*.ttf"]
refreshPeriod = "720h"
{{- end }}

# Linux
{{- if eq .chezmoi.os "linux" }}
["~/.local/share/fonts/JetBrainsMono"]
type = "archive"
url = "https://github.com/JetBrains/JetBrainsMono/releases/download/{{ $ver }}/JetBrainsMono-{{ $vernum }}.zip"
stripComponents = 1
exact = true
include = ["fonts/ttf/*.ttf"]
refreshPeriod = "720h"
{{- end }}

# Windows
{{- if eq .chezmoi.os "windows" }}
["{{ .chezmoi.homeDir }}/AppData/Local/Microsoft/Windows/Fonts/JetBrainsMono"]
type = "archive"
url = "https://github.com/JetBrains/JetBrainsMono/releases/download/{{ $ver }}/JetBrainsMono-{{ $vernum }}.zip"
stripComponents = 1
exact = true
include = ["fonts/ttf/*.ttf"]
refreshPeriod = "720h"
{{- end }}
